*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction:column;
    margin: 0%;
}
a{
    text-decoration: none;/*for not underline*/
}
header{
    background-color: #31420e;
    display: flex;
    align-items: center;
    padding: 15px 0  ;
}
header ul{
     list-style: none;
     display: flex;
     margin: 0;  /*bydefault ul ke andar margin and padding*/
     padding: 0;
}
header a {
    color: #fff;
}
#logo{
     margin: 0 auto;/*top-0,left and right-auto */
     font-size: 30px;
}
#menu li{
    padding: 10px;
}
#social-links li{
    padding: 10px;
}
#main{
    display: flex;
    
}
article{
    padding: 15px;
}
aside{
    flex:0 0 20vw;
    background-color: beige;
    padding: 10px;

}
aside ul{
    list-style: none;
    padding: 0;
}
aside ul a{
     color: #31420e;
     padding: 10px;
     display: block;/*anker tag se baje se dislay block banana padega*/
     border-bottom: 1px solid gray;
}
aside img{
    width: 100%;
}

.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-box{
    border: 1px solid #fff;
    flex-basis: 32%;
    max-width: 370px;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.service-box h3{
    margin: 5px 0 10px;
}
.service-box p{
    margin: 0 0 10px;
}
.call-to-action{
    align-self: flex-start;
    margin-top: auto;
}
.call-to-action a{
    background:gray;
    border: 2px solid transparent;
    color: #000;
    padding: 8px 13px;
    display: block;
}
.call-to-action a:hover{
    color: gray;
    background:transparent;
    border: 2px solid gray;
     
}

.service-box img{
    width: 100%;
}
footer{
    background-color: #31420e;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}
@media screen and (max-width:890px){
    .service-box{
        flex-basis: 48%;
        max-width: 370px;
    }
    aside{
        flex:0 0 25vw;
        background-color: beige;
    }
}
@media screen and (max-width:600px){
    header{
        flex-direction: column;
    }
    #logo{
        order:-1;
    }
    #main{
        flex-direction: column;
    }
    article{
        order:-1;
    }
    .services-container{
        flex-direction: column;
        align-items: center;
    }
    h2{
        text-align: center;
    }
}